.App {
  text-align: center;
}

.cc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pointer {
  cursor: pointer;
}
.pointer:hover {
  transition: 0.5s;
  transform: scale(1.1);
}

@media screen and (max-width: 550px) {
  .widthImg {
    width: 350px;
  }
}

.zoomIn:hover {
  transition: 0.5s;
  transform: scale(1.1);
}
